{% extends "global/Page.html" %}
{% load otree static %}


{% block content %}

ID = {{label}} group = {{group}}
<div class="card bg-light instructions">
    <div class="card-body">

<!-- ISTRUZIONI-->
 <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-primary" role="alert" style="text-align:center">
        <h4>  PHASE 2: Choice</h4>

      </div>
    </div>
  </div>

 <div class="container">
  <div class="row">
<font size="4">
    <div class="col-sm">
      <p align="justify"> Now you are in the group of 3 people. You have to choose again between options A and B.
         <br><br> If all three group members choose the same, the choice will be implemented. If not, there will be opportunity to assign deduction point to decrease earnings of one player.
         <br><br> In addition, if one player gets assigned 2 points from her group members, her choice will be reverted.
      </p>
  </div>
    </div>
      </div>
        </div>


<div class="container">
  <div class="row">
<font size="4">
    <div class="col-sm">
      <p class="text-justify"> {% formfield player.choice2  label="YOUR CHOICE" %}  </p>
  </div>
    </div>
      </div>
        </div>

        <!--		BOTTONE PROSEGUI	2	-->
         <div class="row">
            <div class="col-sm-12 text-center">
            <button type="button" id = "btn_submit" class="btn btn-outline-primary btn-lg"> NEXT </button>

          </div>

         </div>



          </div>




  {% endblock %}




        {% block scripts %}
<script>
$(document).ready(function(){
            });

$("#btn_submit").click(function(){
$("#form").submit()
      });
</script>




{% endblock %}
