{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}

<div class="card bg-light instructions">
    <div class="card-body">

<!-- ISTRUZIONI-->


            <div class="row">
               <div class="col-sm-12">
                 <div class="class=alert bg-warning"  role="alert" style="text-align:center">
                   <h3> DOMANDE DI CONTROLLO </h3>
                 </div>
               </div>
             </div>



      <div class="row">
          <br>   {% formfield player.q1 label="1. Ciascun membro del gruppo ha una dotazione di 20 gettoni. Nessuno (te compreso) contribuisce alcun gettone al progetto allo Stadio 1. A quanto ammonta il tuo valore del progetto alla fine dello Stadio 1?. " %}
          <br>   {% formfield player.q2 label="2. Ciascun membro del gruppo ha una dotazione di 20 gettoni. La tua contribuzione al progetto allo Stadio 1 è di 20 gettoni. Anche gli altri membri del gruppo contribuiscono 20 gettoni. A quanto ammonta il tuo pagamento alla fine dello Stadio 1?" %}
          <br>    {% formfield player.q3 label="3. Ciascun membro del gruppo ha una dotazione di 20 gettoni. La tua contribuzione al progetto allo Stadio 1 è di 8 gettoni. Gli altri membri del gruppo contribuiscono rispettivamente 5, 2 e 10 gettoni. Scegli l’opzione corretta:" %}
          <p align = "justify"> Allo Stadio 2 assegni l’ammontare di punti seguente agli altri membri del tuo gruppo: al membro A assegni 9 punti, al membro B assegni 5 punti, al membro C assegni 0 punti. Ti ricordiamo che il costo di assegnare punti viene calcolato, per ogni soggetto a cui assegni punti, secondo questa tabella:</p>
          <br> <img src="{{ static 'FG_baseline_exp_high/Schedule_20.jpg' }}" class="rounded mx-auto d-block" />
          <br> {% formfield player.q4 label="4. Qual è il costo dei punti che hai assegnato al Membro A?" %}
          <br> {% formfield player.q5 label="5. Qual è il costo dei punti che hai assegnato al Membro B?" %}
          <br> {% formfield player.q6 label="6. Qual è il costo dei punti che hai assegnato al Membro C?" %}
          <br> {% formfield player.q7 label="7. Qual è il costo totale dei punti che hai assegnato?" %}
          <br>     &nbsp
          <br> {% formfield player.q8 label="8. Di quale percentuale i tuoi guadagni allo Stadio 1 verranno ridotti, se ricevi un totale di 0 punti dagli altri membri del gruppo?" %}
          <br> {% formfield player.q9 label="9. Di quale percentuale i tuoi guadagni allo Stadio 1 verranno ridotti, se ricevi un totale di 4 punti dagli altri membri del gruppo?" %}




    </div>

      </div>
      </div>



<font size="4">

 </font>





</div>








&nbsp
<!--		BOTTONE PROSEGUI	2	-->
 <div class="row">
    <div class="col-sm-12 text-center">
    <button type="button" id = "btn_submit" class="btn btn-outline-primary btn-lg"> PROCEDI </button>

	</div>

 </div>



	</div>
</div>



{% endblock %}




{% block scripts %}
	<script>
		$(document).ready(function(){
		});

		$("#btn_submit").click(function(){
			$("#form").submit()
	  	});

</script>



{% endblock %}
