{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}

<div class="card bg-light instructions">
    <div class="card-body">

<!-- ISTRUZIONI-->


 <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-primary" role="alert" style="text-align:center">
        <h3> FINE </h3>
      </div>
    </div>
  </div>
<div class="container">
  <div class="row">

    <div class="col-sm">


<font size="4">

      {% if spesa_totale == 0 %}
      <p class="text-justify"> Non hai effettuato nessun acquisto. La somma di 10 euro ti verrà accreditata sul tuo conto Prolific.</p>

      {% else %}
      <p class="text-justify"> Hai acquistato i seguenti prodotti:</p>
      <ul>
        {% if mezzipaccheri == 1 %} <li> Mezzipaccheri (conf. da 1 kg). {% endif %}
        {% if tagliatelle == 1 %} <li>  Tagliatelle (conf. da 250 gr).{% endif %}
        {% if passata == 1 %} <li> Passata di pomodoro (conf. da 550 gr.).{% endif %}
        {% if olio == 1 %} <li>  Olio extravergine di oliva (conf. da 0,75 l){% endif %}
        {% if riso == 1 %} <li>  Riso Carnaroli (conf. da 1 kg).{% endif %}
        {% if parmigiano == 1 %} <li>  Parmigiano reggiano (conf. da 250gr.) {% endif %}
        {% if cioccolato == 1 %} <li>  Tavoletta di cioccolato al latte ( conf. da 200 gr.). {% endif %}
        {% if burro == 1 %} <li>  Burro (conf. da 250 gr). {% endif %}
         &nbsp
        </ul>
      <p class="text-justify"> Per una spesa totale di  {{spesa_totale|to2}} euro.</p>
      <p class="text-justify"> La somma rimanente di {{residuo|to2}} euro  ti sarà accreditata sul tuo conto Prolific {% if risparmio_info > 0 %} insieme alla somma di {{risparmio_info}} euro che non hai utilizzato per le offerte finalizzate a ottenere informazioni sul prodotto {% endif %}.</p>
      <p class="text-justify"> Prima di terminare ti chiediamo di compilare un questionario. Al termine della sessione riceverai un messaggio su Prolific in cui ti verrà indicato il link allo shop e il codice del buono da usare per acquistare...[ecc.] .</p>

      {% endif %}


 </font>

</div>

</div>
</div>


<!--		BOTTONE PROSEGUI	2	-->
 <div class="row">
    <div class="col-sm-12 text-center">
    <button type="button" id = "btn_submit" class="btn btn-outline-primary btn-lg"> PROCEDI </button>

	</div>

 </div>



	</div>
</div>



{% endblock %}




{% block scripts %}
	<script>
		$(document).ready(function(){
		});

		$("#btn_submit").click(function(){
			$("#form").submit()
	  	});

</script>



{% endblock %}
