{% extends "global/Page.html" %}
{% load otree static %}


{% block content %}


<div class="card bg-light instructions">
    <div class="card-body">

<!-- ISTRUZIONI-->
 <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-primary" role="alert" style="text-align:center">
        <h4> Fai le tue offerte per ricevere le informazioni</h4>
      </div>
    </div>
  </div>


<div class="container">
  <div class="row">
<font size="4">
    <div class="col-sm">
          <p class="text-justify"> {% formfield player.bid_info_tab  label="Offerta per vedere la tabella con i  valori nutrizionali dei prodotti (da 0 a 50 centesimi)" %}  </p>
          <p class="text-justify"> {% formfield player.bid_info_nutri  label="Offerta per vedere il punteggio nutriscore dei prodotti (da 0 a 50 centesimi)" %}  </p>
          <p class="text-justify"> {% formfield player.bid_info_eco  label="Offerta per avere informazioni sull'impronta ecologica dei prodotti (da 0 a 50 centesimi)" %}  </p>
          <p class="text-justify"> {% formfield player.bid_info_tipic  label="Offerta per avere informazioni sul grado di tipicità dei prodotti (da 0 a 50 centesimi)" %}  </p>

  </div>
</font>
    </div>
      </div>
        </div>

        <!--		BOTTONE PROSEGUI	2	-->
         <div class="row">
            <div class="col-sm-12 text-center">
            <button type="button" id = "btn_submit" class="btn btn-outline-primary btn-lg"> PROCEDI </button>

          </div>

         </div>



          </div>




  {% endblock %}




        {% block scripts %}
<script>
$(document).ready(function(){
            });

$("#btn_submit").click(function(){
$("#form").submit()
      });
</script>




{% endblock %}
