{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}

<div class="card bg-light instructions">
    <div class="card-body">

<!-- ISTRUZIONI-->


 <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-primary" role="alert" style="text-align:center">
        <h3> ISTRUZIONI </h3>
      </div>
    </div>
  </div>
<div class="container">
  <div class="row">

    <div class="col-sm">


<font size="4">

      <p class="text-justify">Buongiorno, stai per partecipare a un'attività di ricerca sulle decisioni economiche. </p>
      <p class="text-justify">Riceverai 1€ per la tua partecipazione.</p>
      <p class="text-justify">Durante l’attività prenderai due decisioni, che chiameremo <b> Decisione 1 </b> e <b> Decisione 2. </b> </p>
      <p class="text-justify">Anche se la <b> Decisione 1 </b> precede la <b> Decisione 2</b>, per chiarezza nella spiegazione dell’attività <b> iniziamo descrivendo la Decisione 2</b>. </p>
      <p class="text-justify"><br></p>
      <p class="text-justify"><b> Decisione 2 </b> </p>
      <p class="text-justify">Per la <b> Decisione 2 </b> riceverai 10€ che potrai utilizzare per l’acquisto di prodotti alimentari. </p>
      <p class="text-justify">Ti saranno mostrati a schermo alcuni prodotti alimentari fra quelli in vendita presso uno shop online. Ti saranno mostrati <b> 8 prodotti </b> e dovrai acquistarne <b> almeno 1 </b>. </p>
      <p class="text-justify">Il denaro che non utilizzerai per l'acquisto ti sarà accreditato al termine dell’attività sul tuo conto Prolific.</p>
      <p class="text-justify">I prodotti acquistati ti saranno consegnati a casa seguendo la procedura indicata al termine della <b> Decisione 2 </b>. </p>
      <p class="text-justify"><br></p>
      <p class="text-justify"><b> Decisione 1</b> </p>
      <p class="text-justify">Nella <b> Decisione 1 </b>avrai la possibilità di fare quattro offerte per ricevere informazioni sui prodotti che potrai acquistare nella successiva <b> Decisione 2 </b>. </p>
      <p class="text-justify">Potrai fare un'offerta per ciascuna delle seguenti informazioni:  </p>
      <ul>
      &nbsp
      <li > <b> Tabella nutrizionale </b>. La tabella nutrizionale  riporta le seguenti informazioni: energia, contenuto di grassi, acidi grassi saturi, carboidrati, zuccheri, proteine e sale.</li>
      &nbsp
      <li > <b> Nutriscore </b>.  Il Nutri-score informa sulla qualità nutrizionale di un prodotto utilizzando una lettera associata a un colore. Questo sistema è stato sviluppato da un gruppo di ricercatori francesi e tiene conto del contenuto di elementi da privilegiare (fibre, proteine, frutta e verdura) e di elementi da limitare (energia, acidi grassi saturi, acidi grassi, ecc.). Ogni prodotto è posizionato su una scala di 5 livelli che va dal più favorevole dal punto di vista nutrizionale (lettera A/colore verde scuro) al meno favorevole (lettera E/colore arancione scuro).</li>
      &nbsp
        <li> <b> Impatto ambientale </b>.  L’impatto ambientale è misurato in Kg di CO2 equivalenti per ogni Kg di ciascuno dei prodotti proposti. La CO2 equivalente è una unità di misura per il potenziale di surriscaldamento globale. L’anidride carbonica (CO2) è stata scelta come riferimento per indicare quanto ogni azione contribuisca al surriscaldamento del pianeta. Se per 1 Kg di un certo prodotto la quantità di CO2 equivalente emessa è pari a 2 Kg, significa che per creare un 1 Kg di quel prodotto si immette nell’atmosfera l’equivalente di 2 Kg di CO2.</li>
        &nbsp
        <li> <b> Grado di tipicità </b>. Il grado di tipicità è segnalato indicando se il prodotto sia DOP, cioè un prodotto le cui fasi di lavorazione avvengono tutte in un’area geografica delimitata, seguendo le regole stabilite dal disciplinare di produzione, o IGP, cioè un prodotto le cui qualità dipendono, almeno in parte, dal territorio di origine e per i quali almeno una delle fasi di lavorazione avviene all'interno dell'area geografica indicata. </li>
      </ul>
      <p class="text-justify">Per la <b> Decisione 1 </b> avrai a disposizione in totale 2€.  </p>
      <p class="text-justify">Per ciascuna informazione potrai scegliere di offrire tra 0 e 50 centesimi.  </p>
      <p class="text-justify"> Dopo che avrai fatto le tue offerte, per ciascuna informazione sarà estratto a caso un numero tra 0 e 50.</p>
      <p class="text-justify"> Durante la <b> Decisione 2 </b> ti saranno mostrate solamente le informazioni per le quali avrai offerto un numero di centesimi (da 1 a 50) maggiore o uguale del numero estratto. Le informazioni per le quali avrai offerto un numero di centesimi più basso del numero estratto non ti saranno mostrate.</p>
      <p class="text-justify"> I soldi che avrai utilizzato per fare le offerte non rientreranno in tuo possesso, anche nel caso in cui l’offerta non sia stata sufficiente per acquistare l’informazione. Al contrario i soldi che non utilizzerai per le offerte ti saranno direttamente accreditati tramite Prolific.</p>
      <p class="text-justify"> <b> Esempi </b></p>
      <p class="text-justify"> Se per un’informazione avrai offerto 0 centesimi, certamente non riceverai quell’informazione nella  <b> Decisione 2</b>. I 50 centesimi a disposizione per quell’offerta ti saranno accreditati tramite Prolific. </p>
      <p class="text-justify"> Se per un’informazione avrai offerto 25 centesimi, nella <b> Decisione 2 </b> riceverai quell’informazione se il numero casualmente estratto sarà minore o uguale a 25 e non la riceverai se il numero estratto sarà maggiore di 25. In entrambi i casi i 25 centesimi utilizzati per l’offerta non rientreranno in tuo possesso. I 25 centesimi non utilizzati per l’offerta ti saranno comunque accreditati tramite Prolific. </p>
      <p class="text-justify"> Se per un’informazione avrai offerto 50 centesimi, certamente riceverai quell’informazione nella <b> Decisione 2 </b>. I 50 centesimi utilizzati per quell’offerta non rientreranno in tuo possesso</p>
      <p class="text-justify">   Al termine delle due decisioni ti sarà chiesto di compilare un breve questionario. </p>
      <p class="text-justify">   Qui ci va la descrizione del processo di acquisto e di spedizione del prodotto. </p>


 </font>

 <p> &nbsp </p>



</div>

</div>
</div>

&nbsp





&nbsp
<!--		BOTTONE PROSEGUI	2	-->
 <div class="row">
    <div class="col-sm-12 text-center">
    <button type="button" id = "btn_submit" class="btn btn-outline-primary btn-lg"> PROCEDI </button>

	</div>

 </div>



	</div>
</div>



{% endblock %}




{% block scripts %}
	<script>
		$(document).ready(function(){
		});

		$("#btn_submit").click(function(){
			$("#form").submit()
	  	});

</script>



{% endblock %}
