{% extends "global/Page.html" %}
{% load otree static %}


{% block content %}
<input type="hidden" name="mezzipaccheri" id="id_mezzipaccheri">
<input type="hidden" name="tagliatelle" id="id_tagliatelle">
<input type="hidden" name="passata" id="id_passata">
<input type="hidden" name="olio" id="id_olio">
<input type="hidden" name="riso" id="id_riso">
<input type="hidden" name="parmigiano" id="id_parmigiano">
<input type="hidden" name="cioccolato" id="id_cioccolato">
<input type="hidden" name="burro" id="id_burro">


<div class="card bg-light instructions">
    <div class="card-body">

<!-- ISTRUZIONI-->
 <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-primary" role="alert" style="text-align:center">
        <h4> I prodotti</h4>
        <p class="text-justify"> Hai a disposizione 10 euro</p>
        <p class="text-justify"> Seleziona un prodotto per aggiungerlo al tuo carrello della spesa</p>

      </div>
    </div>
  </div>


<div class="container">
  <div class="row">
      <div class="col-sm-12">
<font size="4">
  <table class="table table-sm">


    <tbody>
      <tr  class="text-center" >
       <td scope="col"></td>
       {% if give_info_tab == 1 %} <td scope="col">TABELLA NUTRIZIONALE</td> {% else %} <td scope="col"></td> {% endif %}
       {% if give_info_nutri == 1 %} <td scope="col">NUTRISCORE</td> {% else %} <td scope="col"></td> {% endif %}
       {% if give_info_eco == 1 %} <td scope="col">IMPATTO AMBIENTALE (KG CO2/1 KG)</td> {% else %} <td scope="col"></td> {% endif %}
       {% if give_info_tipic == 1 %} <td scope="col">MARCHIO TIPICITÀ</td> {% else %} <td scope="col"></td> {% endif %}

      </tr>
       <tr  class="text-center" >
        <td scope="col"><img src="{{ static 'labeling/Mezzi_paccheri.jpg' }}" class="rounded mx-auto d-block" /></td>
        {% if give_info_tab == 1 %} <td scope="col"><img src="{{ static 'labeling/tab_paccheri.jpg' }}" class="rounded mx-auto d-block" /> {% else %}</td><td scope="col"></td> {% endif %}
        {% if give_info_nutri == 1 %} <td scope="col"><img src="{{ static 'labeling/nutri_paccheri.jpg' }}" class="rounded mx-auto d-block" /> {% else %}</td><td scope="col"></td> {% endif %}
        {% if give_info_eco == 1 %} <td scope="col"><img src="{{ static 'labeling/eco_paccheri.jpg' }}" class="rounded mx-auto d-block" /> {% else %}</td><td scope="col"></td> {% endif %}
        {% if give_info_tipic == 1 %} <td scope="col"><img src="{{ static 'labeling/tipic_paccheri.jpg' }}" class="rounded mx-auto d-block" /> {% else %}</td><td scope="col"></td> {% endif %}

       </tr>
       <tr  class="text-center" >
        <td scope="col"><button type="button" id = "mezzipaccheri" class="btn btn-outline-primary btn-lg"> Acquista </button> <button type="button" id = "mezzipaccheri_rem" class="btn btn-outline-primary btn-lg"> Rimuovi </button></td>
        <td scope="col"></td>
        <td scope="col"></td>
        <td scope="col"></td>
     </tr>
   </tr>
    <tr  class="text-center" >
        <td scope="col"><img src="{{ static 'labeling/Passata.jpg' }}" class="rounded mx-auto d-block" /></td>
        {% if give_info_tab == 1 %} <td scope="col"><img src="{{ static 'labeling/tab_passata.jpg' }}" class="rounded mx-auto d-block" /> {% else %}</td><td scope="col"></td> {% endif %}
        {% if give_info_nutri == 1 %} <td scope="col"><img src="{{ static 'labeling/nutri_passata.jpg' }}" class="rounded mx-auto d-block" /> {% else %}</td><td scope="col"></td> {% endif %}
        {% if give_info_eco == 1 %} <td scope="col"><img src="{{ static 'labeling/eco_passata.jpg' }}" class="rounded mx-auto d-block" /> {% else %}</td><td scope="col"></td> {% endif %}
        {% if give_info_tipic == 1 %} <td scope="col"><img src="{{ static 'labeling/no_tipic.jpg' }}" class="rounded mx-auto d-block" /> {% else %}</td><td scope="col"></td> {% endif %}
    </tr>
     </tr>      <tr  class="text-center" >
        <td scope="col"><button type="button" id = "passata" class="btn btn-outline-primary btn-lg"> Acquista </button> <button type="button" id = "passata_rem" class="btn btn-outline-primary btn-lg"> Rimuovi </button></td>
        <td scope="col"></td>
        <td scope="col"></td>
        <td scope="col"></td>
        <td scope="col"></td>
    </tr>
    <tr  class="text-center" >
        <td scope="col"><img src="{{ static 'labeling/Tagliatelle.jpg' }}" class="rounded mx-auto d-block" /></td>
        {% if give_info_tab == 1  %} <td scope="col"><img src="{{ static 'labeling/tab_tagliatelle.jpg' }}" class="rounded mx-auto d-block" /> {% else %}</td><td scope="col"></td> {% endif %}
        {% if give_info_nutri == 1 %} <td scope="col"><img src="{{ static 'labeling/nutri_tagliatelle.jpg' }}" class="rounded mx-auto d-block" /> {% else %}</td><td scope="col"></td> {% endif %}
        {% if give_info_eco == 1 %} <td scope="col"><img src="{{ static 'labeling/eco_tagliatelle.jpg' }}" class="rounded mx-auto d-block" /> {% else %}</td><td scope="col"></td> {% endif %}
        {% if give_info_tipic == 1 %} <td scope="col"><img src="{{ static 'labeling/no_tipic.jpg' }}" class="rounded mx-auto d-block" /> {% else %}</td><td scope="col"></td> {% endif %}
    </tr>
  </tr>      <tr  class="text-center" >
     <td scope="col"><button type="button" id = "tagliatelle" class="btn btn-outline-primary btn-lg"> Acquista </button> <button type="button" id = "tagliatelle_rem" class="btn btn-outline-primary btn-lg"> Rimuovi </button></td>
     <td scope="col"></td>
     <td scope="col"></td>
     <td scope="col"></td>
     <td scope="col"></td>
  </tr>

  <tr  class="text-center" >
      <td scope="col"><img src="{{ static 'labeling/Olio.jpg' }}" class="rounded mx-auto d-block" /></td>
      {% if give_info_tab == 1 %} <td scope="col"><img src="{{ static 'labeling/tab_olio.jpg' }}" class="rounded mx-auto d-block" /> {% else %}</td><td scope="col"></td> {% endif %}
      {% if give_info_nutri == 1 %} <td scope="col"><img src="{{ static 'labeling/nutri_olio.jpg' }}" class="rounded mx-auto d-block" /> {% else %}</td><td scope="col"></td> {% endif %}
      {% if give_info_eco == 1 %} <td scope="col"><img src="{{ static 'labeling/eco_olio.jpg' }}" class="rounded mx-auto d-block" /> {% else %}</td><td scope="col"></td> {% endif %}
      {% if give_info_tipic == 1 %} <td scope="col"><img src="{{ static 'labeling/tipic_olio.jpg' }}" class="rounded mx-auto d-block" /> {% else %}</td><td scope="col"></td> {% endif %}
  </tr>
</tr>      <tr  class="text-center" >
   <td scope="col"><button type="button" id = "olio" class="btn btn-outline-primary btn-lg"> Acquista </button> <button type="button" id = "olio_rem" class="btn btn-outline-primary btn-lg"> Rimuovi </button></td>
   <td scope="col"></td>
   <td scope="col"></td>
   <td scope="col"></td>
   <td scope="col"></td>
</tr>

<tr  class="text-center" >
    <td scope="col"><img src="{{ static 'labeling/Riso.jpg' }}" class="rounded mx-auto d-block" /></td>
    {% if give_info_tab == 1 %} <td scope="col"><img src="{{ static 'labeling/tab_riso.jpg' }}" class="rounded mx-auto d-block" /> {% else %}</td><td scope="col"></td> {% endif %}
    {% if give_info_nutri == 1 %} <td scope="col"><img src="{{ static 'labeling/nutri_riso.jpg' }}" class="rounded mx-auto d-block" /> {% else %}</td><td scope="col"></td> {% endif %}
    {% if give_info_eco == 1 %} <td scope="col"><img src="{{ static 'labeling/eco_riso.jpg' }}" class="rounded mx-auto d-block" /> {% else %}</td><td scope="col"></td> {% endif %}
    {% if give_info_tipic == 1 %} <td scope="col"><img src="{{ static 'labeling/no_tipic.jpg' }}" class="rounded mx-auto d-block" /> {% else %}</td><td scope="col"></td> {% endif %}
</tr>
</tr>      <tr  class="text-center" >
  <td scope="col"><button type="button" id = "riso" class="btn btn-outline-primary btn-lg"> Acquista </button> <button type="button" id = "riso_rem" class="btn btn-outline-primary btn-lg"> Rimuovi </button></td>
  <td scope="col"></td>
  <td scope="col"></td>
  <td scope="col"></td>
  <td scope="col"></td>
</tr>

<tr  class="text-center" >
    <td scope="col"><img src="{{ static 'labeling/Parmigiano.jpg' }}" class="rounded mx-auto d-block" /></td>
    {% if give_info_tab == 1 %} <td scope="col"><img src="{{ static 'labeling/tab_parmigiano.jpg' }}" class="rounded mx-auto d-block" /> {% else %}</td><td scope="col"></td> {% endif %}
    {% if give_info_nutri == 1 %} <td scope="col"><img src="{{ static 'labeling/nutri_parmigiano.jpg' }}" class="rounded mx-auto d-block" /> {% else %}</td><td scope="col"></td> {% endif %}
    {% if give_info_eco == 1 %} <td scope="col"><img src="{{ static 'labeling/eco_parmigiano.jpg' }}" class="rounded mx-auto d-block" /> {% else %}</td><td scope="col"></td> {% endif %}
    {% if give_info_tipic == 1 %} <td scope="col"><img src="{{ static 'labeling/tipic_parmigiano.jpg' }}" class="rounded mx-auto d-block" /> {% else %}</td><td scope="col"></td> {% endif %}
</tr>
</tr>      <tr  class="text-center" >
  <td scope="col"><button type="button" id = "parmigiano" class="btn btn-outline-primary btn-lg"> Acquista </button> <button type="button" id = "parmigiano_rem" class="btn btn-outline-primary btn-lg"> Rimuovi </button></td>
  <td scope="col"></td>
  <td scope="col"></td>
  <td scope="col"></td>
  <td scope="col"></td>
</tr>
<tr  class="text-center" >
    <td scope="col"><img src="{{ static 'labeling/Cioccolato.jpg' }}" class="rounded mx-auto d-block" /></td>
    {% if give_info_tab == 1 %} <td scope="col"><img src="{{ static 'labeling/tab_cioccolato.jpg' }}" class="rounded mx-auto d-block" /> {% else %}</td><td scope="col"></td> {% endif %}
    {% if give_info_nutri == 1 %} <td scope="col"><img src="{{ static 'labeling/nutri_cioccolato.jpg' }}" class="rounded mx-auto d-block" /> {% else %}</td><td scope="col"></td> {% endif %}
    {% if give_info_eco == 1 %} <td scope="col"><img src="{{ static 'labeling/eco_cioccolato.jpg' }}" class="rounded mx-auto d-block" /> {% else %}</td><td scope="col"></td> {% endif %}
    {% if give_info_tipic == 1 %} <td scope="col"><img src="{{ static 'labeling/no_tipic.jpg' }}" class="rounded mx-auto d-block" /> {% else %}</td><td scope="col"></td> {% endif %}
</tr>
</tr>      <tr  class="text-center" >
  <td scope="col"><button type="button" id = "cioccolato" class="btn btn-outline-primary btn-lg"> Acquista </button> <button type="button" id = "cioccolato_rem" class="btn btn-outline-primary btn-lg"> Rimuovi </button></td>
  <td scope="col"></td>
  <td scope="col"></td>
  <td scope="col"></td>
  <td scope="col"></td>
</tr>

<tr  class="text-center" >
    <td scope="col"><img src="{{ static 'labeling/Burro.jpg' }}" class="rounded mx-auto d-block" /></td>
    {% if give_info_tab == 1 %} <td scope="col"><img src="{{ static 'labeling/tab_burro.jpg' }}" class="rounded mx-auto d-block" /> {% else %}</td><td scope="col"></td> {% endif %}
    {% if give_info_nutri == 1 %} <td scope="col"><img src="{{ static 'labeling/nutri_burro.jpg' }}" class="rounded mx-auto d-block" /> {% else %}</td><td scope="col"></td> {% endif %}
    {% if give_info_nutri == 1 %} <td scope="col"><img src="{{ static 'labeling/eco_burro.jpg' }}" class="rounded mx-auto d-block" /> {% else %}</td><td scope="col"></td> {% endif %}
    {% if give_info_tipic == 1 %} <td scope="col"><img src="{{ static 'labeling/no_tipic.jpg' }}" class="rounded mx-auto d-block" /> {% else %}</td><td scope="col"></td> {% endif %}
</tr>
</tr>      <tr  class="text-center" >
  <td scope="col"><button type="button" id = "burro" class="btn btn-outline-primary btn-lg"> Acquista </button> <button type="button" id = "burro_rem" class="btn btn-outline-primary btn-lg"> Rimuovi </button></td>
  <td scope="col"></td>
  <td scope="col"></td>
  <td scope="col"></td>
  <td scope="col"></td>
</tr>


    </tbody>
    </table>

</font>
    </div>
      </div>
        </div>

      <div class="row">
        <div class="col-sm-12 text-center">
        <p class="text-justify"> <h3> TOTALE SPESA: <span id="spesa_totale" > . </span></h3></p>
        <p class="text-justify"> <h3> <span id="warning" ><span class="badge alert-success"> La spesa è superiore ai 10 euro! <br> Rimuovi uno o più prodotti </span></span> </h3></p>
        <p class="text-justify"> <h3> <span id="zero" ><span class="badge alert-success"> Devi acquistare almeno un prodotto </span></span> </h3></p>


    </div>
      </div>
        </div>



        		<!-- BOTTONE PROSEGUI	2	-->
         <div class="row">
            <div class="col-sm-12 text-center">
            <button type="button" id = "btn_submit" class="btn btn-outline-primary btn-lg"> CONFERMA E PROCEDI CON L'ACQUISTO</button>
          </div>
         </div>
 &nbsp

          </div>




  {% endblock %}




        {% block scripts %}
<script>
$(document).ready(function(){
            });

$("#btn_submit").click(function(){

    $("#form").submit()  });


</script>


<script>
$(document).ready(function(){
      var n_prodotti=0
      $("#zero").show()
      $("#btn_submit").hide()
      $( "#warning" ).hide();
      $( "#mezzipaccheri_rem").hide();
      $( "#tagliatelle_rem").hide();
      $( "#passata_rem").hide();
      $( "#olio_rem").hide();
      $( "#riso_rem").hide();
      $( "#parmigiano_rem").hide();
      $( "#cioccolato_rem").hide();
      $( "#burro_rem").hide();
// acquista

      $("#mezzipaccheri").click(function(){
      n_prodotti=n_prodotti+1
      console.log(n_prodotti);
      $( "#mezzipaccheri_rem").show();
      $( "#mezzipaccheri_rem").css('background','lightblue');
      $( "#mezzipaccheri").hide();
  	  		$("#id_mezzipaccheri").val(1);
          attiva();
      });

      $("#tagliatelle").click(function(){
        n_prodotti=n_prodotti+1
        console.log(n_prodotti);
          $( "#tagliatelle_rem").show();
          $( "#tagliatelle_rem").css('background','lightblue');
          $( "#tagliatelle").hide();
              $("#id_tagliatelle").val(1);
              attiva();
      });

      $("#passata").click(function(){
        n_prodotti=n_prodotti+1
        console.log(n_prodotti);
          $( "#passata_rem").show();
          $( "#passata_rem").css('background','lightblue');
          $( "#passata").hide();
              $("#id_passata").val(1);
              attiva();
      });

      $("#olio").click(function(){
        n_prodotti=n_prodotti+1
        console.log(n_prodotti);
          $( "#olio_rem").show();
          $( "#olio_rem").css('background','lightblue');
          $( "#olio").hide();
              $("#id_olio").val(1);
              $("#btn_submit").show()
              attiva();
      });

      $("#riso").click(function(){
        n_prodotti=n_prodotti+1
        console.log(n_prodotti);
          $( "#riso_rem").show();
          $( "#riso_rem").css('background','lightblue');
          $( "#riso").hide();
              $("#id_riso").val(1);
              $("#btn_submit").show()
              attiva();
      });

      $("#parmigiano").click(function(){
        n_prodotti=n_prodotti+1
        console.log(n_prodotti);
          $( "#parmigiano_rem").show();
          $( "#parmigiano_rem").css('background','lightblue');
          $( "#parmigiano").hide();
              $("#id_parmigiano").val(1);
              $("#btn_submit").show()

          attiva();
      });

      $("#cioccolato").click(function(){
        n_prodotti=n_prodotti+1
        console.log(n_prodotti);
          $( "#cioccolato_rem").show();
          $( "#cioccolato_rem").css('background','lightblue');
          $( "#cioccolato").hide();
              $("#id_cioccolato").val(1);
              $("#btn_submit").show()
              attiva();
      });

      $("#burro").click(function(){
        n_prodotti=n_prodotti+1
        console.log(n_prodotti);
          $( "#burro_rem").show();
          $( "#burro_rem").css('background','lightblue');
          $( "#burro").hide();
              $("#id_burro").val(1);
              $("#btn_submit").show()
              attiva();
      });

      // rimuovi

            $("#mezzipaccheri_rem").click(function(){
            n_prodotti=n_prodotti-1
            console.log(n_prodotti);
            $( "#mezzipaccheri_rem").hide();
            $( "#mezzipaccheri").show();
        	  		$("#id_mezzipaccheri").val(0);

                attiva();
            });

            $("#tagliatelle_rem").click(function(){
              n_prodotti=n_prodotti-1
              console.log(n_prodotti);
                $( "#tagliatelle_rem").hide();
                $( "#tagliatelle").show();
                    $("#id_tagliatelle").val(0);
                attiva();
            });

            $("#passata_rem").click(function(){
              n_prodotti=n_prodotti-1
              console.log(n_prodotti);
                $( "#passata_rem").hide();
                $( "#passata").show();
                    $("#id_passata").val(0);

                attiva();
            });

            $("#olio_rem").click(function(){
              n_prodotti=n_prodotti-1
              console.log(n_prodotti);
                $( "#olio_rem").hide();
                $( "#olio").show();
                    $("#id_olio").val(0);
                attiva();
            });

            $("#riso_rem").click(function(){
              n_prodotti=n_prodotti-1
              console.log(n_prodotti);
                $( "#riso_rem").hide();
                $( "#riso").show();
                    $("#id_riso").val(0);
                attiva();
            });

            $("#parmigiano_rem").click(function(){
              n_prodotti=n_prodotti-1
              console.log(n_prodotti);
                $( "#parmigiano_rem").hide();
                $( "#parmigiano").show();
                    $("#id_parmigiano").val(0);
                attiva();
            });

            $("#cioccolato_rem").click(function(){
              n_prodotti=n_prodotti-1
              console.log(n_prodotti);
                $( "#cioccolato_rem").hide();
                $( "#cioccolato").show();
                    $("#id_cioccolato").val(0);
                attiva();
            });

            $("#burro_rem").click(function(){
              n_prodotti=n_prodotti-1
              console.log(n_prodotti);
                $( "#burro_rem").hide();
                $( "#burro").show();
                    $("#id_burro").val(0);
                attiva();
            });


      function attiva(){


      var p_mezzipaccheri = 6.40
      var p_tagliatelle = 4.40
      var p_passata = 4.90
      var p_olio = 9.80
      var p_riso = 4.30
      var p_parmigiano = 5.50
      var p_cioccolato = 3.40
      var p_burro = 3.50
      var mezzipaccheri=$("#id_mezzipaccheri").val();
      var tagliatelle=$("#id_tagliatelle").val();
      var passata=$("#id_passata").val();
      var olio=$("#id_olio").val();
      var riso=$("#id_riso").val();
      var parmigiano=$("#id_parmigiano").val();
      var cioccolato=$("#id_cioccolato").val();
      var burro=$("#id_burro").val();


      if (mezzipaccheri !=1) {$("#id_mezzipaccheri").val(0)}
      if (tagliatelle !=1) {$("#id_tagliatelle").val(0)}
      if (passata !=1) {$("#id_passata").val(0)}
      if (olio !=1) {$("#id_olio").val(0)}
      if (riso !=1) {$("#id_riso").val(0)}
      if (parmigiano !=1) {$("#id_parmigiano").val(0)}
      if (cioccolato!=1) {$("#id_cioccolato").val(0)}
      if (burro!=1) {$("#id_burro").val(0)}

      var spesa_totale= mezzipaccheri*p_mezzipaccheri + tagliatelle*p_tagliatelle + passata*p_passata + olio*p_olio+riso*p_riso+parmigiano*p_parmigiano+cioccolato*p_cioccolato+burro*p_burro

      spesa_totale_show = spesa_totale.toFixed(2);
      if (spesa_totale > 10) {$( "#warning" ).show();$("#btn_submit").hide()} else if (spesa_totale == 0) {$( "#zero" ).show();$( "#warning" ).hide();$("#btn_submit").hide()} else  {$( "#zero" ).hide();$( "#warning" ).hide();$("#btn_submit").show()}
      $("#spesa_totale").html(spesa_totale_show).val();

      }

        });
</script>


{% endblock %}
