{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    <!-- Le tue scelte -->
{% endblock %}

{% block content %}

<div class="card bg-light instructions">
    <div class="card-body">

<div class="row">
 	<div class="col-sm-12">
	    <div class="alert alert-primary" role="alert" style="text-align:center">
	       <h3> QUESTIONARIO </h3>
	     </div>
	 </div>
	</div>

	<div class="container">
	  <div class="row">

	 <div class="col-sm">
		<p class="text-justify"> Ti chiediamo per cortesia di rispondere alle domande riportate di seguito. Se non intendi rispondere a una domanda lascia la risposta vuota. </p>
		&nbsp
    <p class="text-justify"> 1. Da 1 (Per niente) a 5 (Moltissimo), quanto sei preoccupato per</p>
		<ul>
      <li> {% formfield player.q_preoccupato_ambiente  label="La questione ambientale" %} </li>
		  <li>{% formfield player.q_preoccupato_alimentazione  label="Le conseguenze che l’alimentazione può avere sulla salute" %} </li>
		  <li>{% formfield player.q_preoccupato_produzione  label="Gli effetti che alcuni sistemi di produzione possono avere sul tessuto produttivo, anche artigianale, delle singole comunità locali" %} </li>
      <li>{% formfield player.q_preoccupato_tipic  label="L’abbandono della tradizione nella produzione dei generi alimentari" %} </li>

    </ul>
    &nbsp
    <p class="text-justify"> 2. Mediamente, quanto spesso nell’arco di una settimana ti capita di:</p>
    </ul>
    <ul>
  	  <li>{% formfield player.q_pasta label="Mangiare pasta" %} </li>
		  <li>{% formfield player.q_olio label="Utilizzare l’olio extra vergine di oliva per cucinare o come condimento" %} </li>
      <li>{% formfield player.q_passata label="Utilizzare la passata di pomodoro " %} </li>
      <li>{% formfield player.q_riso label="Mangiare riso" %} </li>
      <li>{% formfield player.q_parmigiano label="Mangiare parmigiano reggiano, anche come condimento" %} </li>
      <li>{% formfield player.q_burro label="Utilizzare il burro per cucinare" %} </li>
      <li>{% formfield player.q_cioccolato label="Mangiare cioccolato" %} </li>
    </ul>
     &nbsp
     <p class="text-justify"> 3. Da 1 a 5 quanto sei d’accordo con le seguenti affermazioni? Scegli una delle alternative per ogni domanda (da "1: Per niente d'accordo"  a "5. Completamente d'accordo")<p>
       <ul>
         <li>{% formfield player.q_salutari label="Si dovrebbe fare tutto il possibile per produrre generi alimentari salutari" %} </li>
		      <li>{% formfield player.q_basso_impatto  label="Si dovrebbe fare tutto il possibile per favorire il consumo di generi alimentari a basso impatto ambientale" %} </li>
		      <li>{% formfield player.q_tipici  label="Si dovrebbe fare tutto il possibile per favorire il consumo di generi alimentari tipici, il cui processo di produzione sia legato al territorio di provenienza in modo da favorire il tessuto produttivo, anche artigianale, a livello locale" %} </li>
          <li>{% formfield player.q_tradizione  label="Si dovrebbe fare tutto il possibile per favorire il rispetto della tradizione nella produzione dei generi alimentari" %} </li>

      </ul>
   &nbsp
		<p class="text-justify">{% formfield player.q_spesa  label="4. Quanto spesso ti capita di fare la spesa?" %} </p>
    &nbsp
    <p class="text-justify">5.  Quanto spesso, durante i tuoi acquisti di prodotti alimentari, ti capita di:</p>
    <ul>
  	<li>{% formfield player.q_salute  label="Porre attenzione ad aspetti connessi all’impatto sulla salute dei prodotti che acquisti" %} </li>
		<li>{% formfield player.q_impatto label="Porre attenzione ad aspetti connessi all’impatto ambientale dei prodotti che acquisti" %} </li>
		<li>{% formfield player.q_dop label="Controllare se il prodotto che acquisti è un prodotto tipico – DOP o IGP " %} </li>
	  <li>{% formfield player.q_nutri  label="Leggere le etichette nutrizionali dei prodotti" %} </p>
    </ul>
    &nbsp
  	<p class="text-justify">{% formfield player.q_regime  label="6.Segui qualche regime alimentare particolare (es. esclusione di alcuni alimenti dalla dieta, etc.)?" %} </p>
    &nbsp
  	<p class="text-justify">{% formfield player.q_conosci_dop  label="7. Conoscevi già il significato delle sigle DOP e IGP?" %} </p>
    <p class="text-justify">{% formfield player.q_stato_civile  label="8. Qual è il tuo stato Civile?" %} </p>
    <p class="text-justify">{% formfield player.q_nucleo  label="9. Complessivamente quante persone fanno parte del tuo nucleo famigliare?" %} </p>
    <p class="text-justify">{% formfield player.q_minorenni label="10. Nel nucleo famigliare sono presenti minorenni" %} </p>
    <p class="text-justify">{% formfield player.q_anziani  label="11. Nel nucleo famigliare sono presenti persone con più di 65 anni? " %} </p>
    <p class="text-justify">{% formfield player.q_figli label="12 Hai figli" %} </p>
    <p class="text-justify">{% formfield player.q_religione  label="13. Ti definiresti " %} </p>
    <p class="text-justify">{% formfield player.q_prov_nato  label="14. In che provincia sei nato? " %} </p>
    <p class="text-justify">{% formfield player.q_prov_risiedi label="15. In che provincia risiedi? " %} </p>
    <p class="text-justify">{% formfield player.q_economico  label="16. Come diresti che te la stai cavando finanziariamente in questo periodo?" %} </p>
    <p class="text-justify">{% formfield player.q_prescrizione  label="17. Tu o qualche membro del tuo nucleo famigliare state seguendo uno specifico regime alimentare a seguito di una prescrizione?" %} </p>
    <p class="text-justify">18. Da 1 a 5 quanto ritieni che il marchio DOP e il marchio IGP siano in grado di cogliere i seguenti aspetti </p>
    <ul>
  	   <li>{% formfield player.q_dop_ricaduta  label="La ricaduta che il processo di produzione ha sul tessuto produttivo, anche artigianale, delle singole comunità locali " %} </li>
		   <li>{% formfield player.q_dop_tradizone label="Il ruolo della tradizione nel processo produttivo" %} </li>
		   <li>{% formfield player.q_dop_genuinità label="La genuinità del prodotto " %} </li>
    </ul>



	&nbsp


		<!--		BOTTONE PROSEGUI	2	-->
		 <div class="row">
		    <div class="col-sm-12 text-center">
		    <button type="button" id = "btn_submit" class="btn btn-outline-primary btn-lg"> PROCEDI </button>

			</div>

		 </div>



			</div>
		</div>
		</div>
	</div>
</div>



		{% endblock %}




		{% block scripts %}
			<script>
				$(document).ready(function(){
				});

				$("#btn_submit").click(function(){
					$("#form").submit()
			  	});

		</script>




				{% endblock %}
