{% extends "global/Page.html" %}
{% load staticfiles otree %}


{% block content %}


	<input type="hidden" value="{{riepilogo_guadagni|safe}}" id="riepilogo_guadagni">




	<div class="container bordi" id="panel_riepilogo_guadagni">
		<div class="row intestazione" style="height:35px;">
			<div class="col-md-12">
				Ti preghiamo di rispondere alle seguenti domande
			</div>
		</div>
		<div class="row"  style="height:400px;">
			<div class="col-md-12_istruzioni" style="width:1000px; padding-left: 10px;">
				<br>
				{% formfield player.sex label="Genere" %}
				{% formfield player.age label="Età" %}
				{% formfield player.faculty label="Corso di laurea" %}
				{% formfield player.num_experiments label="Numero esperimenti fatti" %}
			</div>
		</div>
	</div>




<div class="container">
	<div class="row">
		&nbsp;
	</div>
	<div class="row" style="padding-left:135px;">
		<div class="col-md-4">

		</div>
		<div class="col-md-1">
			<button class="otree-btn-next btn btn-primary next-button otree-next-button">Procedi</button>
		</div>
	</div>
</div>


{% endblock %}

{% block styles %}
    <link href="{% static "faillo_np/mystyle.css" %}" rel="stylesheet">
    <link href="{% static "faillo_np/fontawesome-free-5.0.10/web-fonts-with-css/css/fontawesome-all.css" %}" rel="stylesheet">
{% endblock %}



