{% extends "global/Page.html" %}
{% load staticfiles otree %}


{% block content %}






	<div class="container bordi" id="panel_riepilogo_guadagni">
		<div class="row intestazione" style="height:35px;">
			<div class="col-md-12" style="padding-right:50px;">
				Riepilogo
			</div>
		</div>
		<!-- quando k=3 non è mai ultimo, controllare -->

		<div class="row"  style="height:100px;">
			<div class = "col-md-12_istruzioni" style="width:1000px;">
				<br>
				<div> Il tuo 'Pagamento Cumulato' al termine di questo incontro è {{guadagno_cumulato_landscape}}.</div>
				<div>  Ora incontrerai un nuovo viaggiatore.</div>

			</div>
		</div>
	</div>




<div class="container">
	<div class="row">
		&nbsp;
	</div>
	<div class="row" style="padding-left:100px;">
		<div class="col-md-4">

		</div>
		<div class="col-md-1">
			<button class="otree-btn-next btn btn-primary next-button otree-next-button">Procedi</button>
		</div>
	</div>
</div>


{% endblock %}

{% block styles %}
    <link href="{% static "Imitation_kappa_3/mystyle.css" %}" rel="stylesheet">
    <link href="{% static "Imitation_kappa_3/fontawesome-free-5.0.10/web-fonts-with-css/css/fontawesome-all.css" %}" rel="stylesheet">
{% endblock %}
