{% extends "global/Page.html" %}
{% load otree static %}


{% block content %}


<div class="card bg-light instructions">
    <div class="card-body">


 <div class="row">

      <div class="class=alert bg-primary"  role="alert" style="text-align:center">
        <h4 style="color:white">  ROUND N. {{round}} di {{tot_round}}. </h4>
        {% if round > 1 %}
        <br>  <h5  style="color:white">Pagamento totale fino a questo momento: {{cumul_payoff|to2}} gettoni </h5>
        {% endif %}

      <br>  <h5 style="color:white"> Prima fase. La tua dotazione è di 10 gettoni, scegli quanto contribuire al progetto </h5>

      </div>
    </div>



<font size="4">
    <div class="col-sm ">
      <p class="text-justify">   <div class="bg-light" role="alert">   {% formfield player.contribution label="Inserisci un numero tra 0 e 10" %} </p>




        <!--		BOTTONE PROSEGUI	2	-->
    		 <div class="row">
    		    <div class="col-sm-12 text-center">
    		    <button type="button" id = "btn_submit" class="btn btn-outline-primary btn-lg"> PROCEDI </button>

    			</div>

    		 </div>

</div>
</div>
<br>
<br>
<br>
<div class="container">
  <table class="table  table"">
    <tr>
          <td scope="col" style="color:darkorange;"></td>
          <td scope="col" style="color:darkorange;"></td>
    </tr>
  </table>
<iframe
src="{{ static 'FG_baseline_exp_low/istruzioni_l.pdf' }}#toolbar=0"
width="500"
height="275"
>
</iframe>

</div>



{% endblock %}



{% block scripts %}
	<script>
		$(document).ready(function(){
		});

		$("#btn_submit").click(function(){
			$("#form").submit()
	  	});



</script>



{% endblock %}
