{% extends "global/Page.html" %}
{% load otree static %}


{% block content %}


<div class="card bg-light instructions">
    <div class="card-body">

 <div class="row">

      <div  class="class=alert bg-primary"  role="alert" style="text-align:center">
        <h4  style="color:white">  FINE DELL'ESPERIMENTO</h4>
      </div>

  </div>

  &nbsp
<div class="row">
<font size="4">
    <div class="col-sm">
      <p class="text-justify">L'esperimento è finito, grazie per aver partecipato.</p>
      <p class="text-justify">Il tuo pagamento finale è di <b> {{cumul_payoff|to2}} gettoni </b> pari a  <b> {{euro|to2}}  euro </b>, a cui si aggiungono i 3 euro per la partecipazione.</p>


        <!--		BOTTONE PROSEGUI	2	-->
    		 <div class="row">
    		    <div class="col-sm-12 text-center">
    		    <button type="button" id = "btn_submit" class="btn btn-outline-primary btn-lg"> PROCEDI </button>

    			</div>

    		 </div>

</div>
</div>



{% endblock %}



{% block scripts %}
	<script>
		$(document).ready(function(){
		});

		$("#btn_submit").click(function(){
			$("#form").submit()
	  	});

</script>



{% endblock %}
