{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}


<div class="card bg-light instructions">
    <div class="card-body">

<!-- ISTRUZIONI-->


 <div class="row">

      <div class="alert alert-success" role="alert" style="text-align:center">
        <h3> TOO MANY MISTAKES </h3>

    </div>
  </div>
<div class="container">
  <div class="row">

    <div class="col-sm">
      <div align="justify">


<font size="4">

  <div style="text-align: justify;">
    <div style="text-align: justify;">
        <p>We are sorry, but you have made too many mistakes in the control questions.</p>
        <p>You cannot proceed with the activity and you will be paid £0.20. </p>
        <div class="panel-body">
      		<p> Press the button below to return to Prolific and confirm your submission </p>
      	</div>


      		<p> &nbsp </p>

      		  <form>
      			<input type="button" value="Back to Prolific" onclick="window.location.href='https://app.prolific.co/submissions/complete?cc=8ACBDEB6'" />
      		  </form>
      	</div>
  </div>

</div>

</div>
</div>

&nbsp








	</div>
</div>



{% endblock %}




{% block scripts %}
	<script>
		$(document).ready(function(){
    });
		$("#btn_submit").click(function(){
    $("#id_proceed").val(1);
			$("#form").submit()
	  	});


</script>



{% endblock %}
