{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}

<div class="row">
   <div class="col-sm-12">
     <div class="alert alert-secondary" role="alert" style="text-align:center">
       <h5> Round {{round}} di {{num_rounds}}. </h5>
      </div>
   </div>
 </div>


<div class="card bg-light instructions">
    <div class="card-body">

<!-- ISTRUZIONI-->
 <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-primary" role="alert" style="text-align:center">
        <h4> La tua offerta </h4>
      </div>
    </div>
  </div>

<div class="container">
  <div class="row">

    <div class="col-sm">


       <p> {% formfield player.seller_product label="Che tipo di prodotto vuoi offrire?" %}</p>
      <p> </p>
       <p>  {% formfield player.seller_price label="Quale prezzo vorresti chiedere?" %} </p>

<!--		BOTTONE PROSEGUI	2	-->
 <div class="row">
    <div class="col-sm-12 text-center">
    <button type="button" id = "btn_submit" class="btn btn-outline-primary btn-lg"> PROCEDI </button>
	</div>

 </div>
 </div>


{% endblock %}




{% block scripts %}
	<script>
		$(document).ready(function(){
		});

		$("#btn_submit").click(function(){
			$("#form").submit()
	  	});

</script>
{% endblock %}
