{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}


<!-- [Risk taking risky benefit - Baseline scenario 1] -->

<div class="card bg-light instructions">
    <div class="card-body">

<!-- ISTRUZIONI-->


 <div class="row">

      <div class="alert alert-success" role="alert" style="text-align:center">
        <h3> FIRST DECISION </h3>

    </div>
  </div>
<div class="container">
  <div class="row">

    <div class="col-sm">
      <div align="justify">


<font size="4">

    <div style="text-align: justify;">
        <p><b>First Decision</b></p>

        <p>You receive an initial endowment of {{ endowment }} tokens.</p>

        <p>You have to decide <b> how many tokens </b> to invest in an activity with an <b> uncertain return </b> and how many in an activity with a <b> certain return. </b></p>

        <p>In the case of the activity with <b> uncertain return</b>, each token may:</p>
        <ul>
            <li> take a value of <b>£0.06</b>, with a probability of <b>2/3 </b></li>
            <li> take a value of <b>£0.16 </b> with probability of <b> 1/3</b> ;</li>
        </ul>

        <p>In the case of the activity with a <b> certain return</b>, each token takes a value of <b>£0.06.</b></p>

        <p>Once you have made your decision, a random draw will determine the value for the tokens invested in the activity with uncertain return, if any.</p>
      </div>
      &nbsp
      <div class="card bg-white>

        <div class="card-body">
      <div style="text-align: center;">
        <p>Click the blue bar to reveal the slider and make your choice.</p>

        <div id="sliders_here"></div>


      </div>
      </div>
      </div>


</div>

</div>
</div>

<style>
        .mgslider-wrapper {
            border-spacing: 10px;
        }
        .mgslider-limit {
            width: 10%;
            min-width: 75px;
            height: 40px;
            margin: 100px;
            text-align: center;
            background: #eee;
            border: 1px solid #888;
        }
        .mgslider-limit, .mgslider-value {
            font-variant-numeric: tabular-nums;
        }
        .mgslider-before {
            height: 16px;
            width: 100%;
            background: #1e5bff;
        }
        .mgslider-feedback {
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    </style>

   {{ formfield_errors 'decision_1' }}



    <script src="{{ static 'mgslider.js' }}"></script>




    <script>

        $(document).ready(function (event) {
            slider1 = new mgslider("decision_1", 0, 50, 1);
            slider1.print(document.getElementById("sliders_here"));

            // slider2 = new mgslider("number", 0, 50, 1);
            // slider2.print(document.getElementById("sliders_here"));
            // slider2.recall();
        });
    </script>


&nbsp
<!--		BOTTONE PROSEGUI	2	-->
 <div class="row">
    <div class="col-sm-12 text-center">
    <button type="button" id = "btn_submit" class="btn btn-outline-primary btn-lg"> NEXT</button>

	</div>

 </div>



	</div>
</div>



{% endblock %}




{% block scripts %}



	<script>
		$(document).ready(function(){
		});

		$("#btn_submit").click(function(){

			$("#form").submit()
	  	});

</script>



{% endblock %}
