{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}
<input type="hidden" name="proceed" id="id_proceed">
 {{ formfield_errors 'proceed' }}
<div class="card bg-light instructions">
    <div class="card-body">

<!-- ISTRUZIONI-->


 <div class="row">

      <div class="alert alert-success" role="alert" style="text-align:center">
        <h3> INTRODUCTION</h3>

    </div>
  </div>
<div class="container">
  <div class="row">

    <div class="col-sm">
      <div align="justify">


<font size="4">

  <div style="text-align: justify;">
      <p>Welcome! You will receive £0.50 for your participation.</p>

      <p>You may earn an additional amount of money, depending on the outcome of one of the decisions you will be asked to make during this activity.</p>

      <p>During the activity, you will make <b> two </b> decisions. You will be paid only for one of these decisions. Which decision will be paid will depend on a random draw at the end of the activity. Each decision has the same probability to be randomly selected for the payment.</p>

      <p>The two decisions are independent of each other: what you choose in each decision will not affect the outcome of the other decisions.</p>

      <p>Once you have made the two decisions, you will be asked to fill in a short questionnaire.</p>
      <p> Because it is very important that you pay attention in making all the decisions, after the instructions related to each decision we will ask you three control questions. </p>
      <p>You must provide correct answers to all the questions, and to do this, you have two attempts.</p>
      <p>Once you submit your answers to the control questions, if you made one or more mistakes, you will receive feedback indicating which answers were incorrect.</p>
      <p>At this point, you will have access to a new attempt. If you fail to provide the correct answers to all three control questions, even on the second attempt, you will be asked to exit the activity, and you will receive only £0.20.</p>
&nbsp
      <p> After the two first decisions, you will make a third decision and you will be paid for that decision according to the instructions that will be provided. </p>
      <p>By proceeding, you accept these rules, and no future complaints will be taken into account. Otherwise you can leave the activity now and get £0.20</p>

  </div>

</div>

</div>
</div>

&nbsp





&nbsp
<!--		BOTTONE PROSEGUI	2	-->
 <div class="row">
    <div class="col-sm-12 text-center">
    <button type="button" id = "btn_submit" class="btn btn-outline-primary btn-lg"> I Agree with the rules and I want to proceed</button>

	</div>

 </div>
&nbsp
 <div class="row">
    <div class="col-sm-12 text-center">
    <button type="button" id = "btn_stop" class="btn btn-outline-primary btn-lg"> I prefer to leave </button>

 </div>

 </div>




	</div>
</div>



{% endblock %}




{% block scripts %}

	<script>
		$(document).ready(function(){

		$("#btn_submit").click(function(){
    $("#id_proceed").val(1);
			$("#form").submit()
	  	});

    $("#btn_stop").click(function(){
    $("#id_proceed").val(2);
        $("#form").submit()
        });
		});

</script>



{% endblock %}
